<div class="page-container">
  <div class="form-container">
    <div class="header">
      <h1 >Info 1</h1>
      <p class="subtitle">Calculer Voter Moyenne</p>
    </div>

    <form [formGroup]="gradeForm" (ngSubmit)="onSubmit()">
      <div class="subject-card" *ngFor="let subject of subjects">
        <div class="subject-header">
          <h3>{{ subject.name }}</h3>
          <span class="coefficient">Coefficient: {{ subject.coefficient }}</span>
        </div>
        
        <div formGroupName="{{ subject.name }}" class="grades-container">
          <div class="input-group">
            <label>Contrôle continue</label>
            <input type="number" 
                   step="0.01" 
                   formControlName="cc" 
                   min="0" 
                   max="20"
                   [class.error]="gradeForm.get(subject.name)?.get('cc')?.invalid && 
                                 gradeForm.get(subject.name)?.get('cc')?.touched">
            <div class="error-message" 
                 *ngIf="gradeForm.get(subject.name)?.get('cc')?.invalid && 
                        gradeForm.get(subject.name)?.get('cc')?.touched">
             Entrez une note valide (0-20)
            </div>
          </div>

          <div class="input-group">
            <label>Examen</label>
            <input type="number" 
                   step="0.01" 
                   formControlName="exam" 
                   min="0" 
                   max="20"
                   [class.error]="gradeForm.get(subject.name)?.get('exam')?.invalid && 
                                 gradeForm.get(subject.name)?.get('exam')?.touched">
            <div class="error-message" 
                 *ngIf="gradeForm.get(subject.name)?.get('exam')?.invalid && 
                        gradeForm.get(subject.name)?.get('exam')?.touched">
              Entrez une note valide (0-20)
            </div>
          </div>
        </div>
      </div>

      <button type="submit" 
              [disabled]="!gradeForm.valid || loading" 
              class="submit-button">
        <span *ngIf="!loading">Calculate Average</span>
        <div class="loader" *ngIf="loading"></div>
      </button>
    </form>
  </div>
</div>